* {
    font-family: sans-serif, Arial, Helvetica, Impact; 
    font-size: 24px;
}

header {
    display: inline;
    position: fixed;
    top: 0;
    max-width: fit-content;
    text-align: center;
    background-color: lightgreen;
}

#mainheader {
    display: inline;
    color: black;
    font-size: 72px;
}

#headerpic {
    max-width: 5%;
    height: auto;
}
section {
    max-width: fit-content;
    background-color: lightblue;
}

h2{
    position: relative;
    left: 100px;
    font-size: 36px;
}

form{
    position: relative;
    left: 300px;
    padding: 10px;
}

#contactpic {
    max-width: 100%;
    height: auto;
}

body {
    margin-top: 20px;
}