header {
    display: inline;
    position: fixed;
    top: 0;
    max-width: 1000px;
    text-align: center;
    background-color: lightgreen;
    margin-bottom: 10px;
    /* display: none; */
}

#mainheader {
    display: inline;   
}

#headerpic {
    max-width: 5%;
    height: auto;
}
section {
    max-width: 1000px;
    background-color: lightpink;
}

h2{
    position: relative;
    left: 100px;
}

form{
    position: relative;
    left: 300px;
    padding: 10px;
}

#contactpic {
    max-width: 100%;
    height: auto;
}

body {
    margin-top: 20px;
}